/* ci.CSS 4.02 Mar 2017 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.ci-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.ci-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.ci-image{max-width:100%;height:auto}img{margin-bottom:-5px}a{color:inherit}
.ci-table,.ci-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.ci-table-all{border:1px solid #ccc}
.ci-bordered tr,.ci-table-all tr{border-bottom:1px solid #ddd}.ci-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.ci-table-all tr:nth-child(odd){background-color:#fff}.ci-table-all tr:nth-child(even){background-color:#f1f1f1}
.ci-hoverable tbody tr:hover,.ci-ul.ci-hoverable li:hover{background-color:#ccc}.ci-centered tr th,.ci-centered tr td{text-align:center}
.ci-table td,.ci-table th,.ci-table-all td,.ci-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.ci-table th:first-child,.ci-table td:first-child,.ci-table-all th:first-child,.ci-table-all td:first-child{padding-left:16px}
.ci-btn,.ci-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.ci-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.ci-btn,.ci-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.ci-disabled,.ci-btn:disabled,.ci-button:disabled{cursor:not-allowed;opacity:0.3}.ci-disabled *,:disabled *{pointer-events:none}
.ci-btn.ci-disabled:hover,.ci-btn:disabled:hover{box-shadow:none}
.ci-badge,.ci-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.ci-badge{border-radius:50%}
.ci-ul{list-style-type:none;padding:0;margin:0}.ci-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.ci-ul li:last-child{border-bottom:none}
.ci-tooltip,.ci-display-container{position:relative}.ci-tooltip .ci-text{display:none}.ci-tooltip:hover .ci-text{display:inline-block}
.ci-ripple:active{opacity:0.5}.ci-ripple{transition:opacity 0s}
.ci-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.ci-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.ci-dropdown-click,.ci-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.ci-dropdown-hover:hover .ci-dropdown-content{display:block;z-index:1}
.ci-dropdown-hover:first-child,.ci-dropdown-click:hover{background-color:#ccc;color:#000}
.ci-dropdown-hover:hover > .ci-button:first-child,.ci-dropdown-click:hover > .ci-button:first-child{background-color:#ccc;color:#000}
.ci-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.ci-check,.ci-radio{width:24px;height:24px;position:relative;top:6px}
.ci-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.ci-bar-block .ci-dropdown-hover,.ci-bar-block .ci-dropdown-click{width:100%}
.ci-bar-block .ci-dropdown-hover .ci-dropdown-content,.ci-bar-block .ci-dropdown-click .ci-dropdown-content{min-width:100%}
.ci-bar-block .ci-dropdown-hover .ci-button,.ci-bar-block .ci-dropdown-click .ci-button{width:100%;text-align:left;padding:8px 16px}
.ci-main,#main{transition:margin-left .4s}
.ci-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.ci-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.ci-bar{width:100%;overflow:hidden}.ci-center .ci-bar{display:inline-block;width:auto}
.ci-bar .ci-bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}
.ci-bar .ci-dropdown-hover,.ci-bar .ci-dropdown-click{position:static;float:left}
.ci-bar .ci-button{white-space:normal}
.ci-bar-block .ci-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal}
.ci-bar-block.ci-center .ci-bar-item{text-align:center}.ci-block{display:block;width:100%}
.ci-responsive{overflow-x:auto}
.ci-container:after,.ci-container:before,.ci-panel:after,.ci-panel:before,.ci-row:after,.ci-row:before,.ci-row-padding:after,.ci-row-padding:before,
.ci-cell-row:before,.ci-cell-row:after,.ci-clear:after,.ci-clear:before,.ci-bar:before,.ci-bar:after{content:"";display:table;clear:both}
.ci-col,.ci-half,.ci-third,.ci-twothird,.ci-threequarter,.ci-quarter{float:left;width:100%}
.ci-col.s1{width:8.33333%}.ci-col.s2{width:16.66666%}.ci-col.s3{width:24.99999%}.ci-col.s4{width:33.33333%}
.ci-col.s5{width:41.66666%}.ci-col.s6{width:49.99999%}.ci-col.s7{width:58.33333%}.ci-col.s8{width:66.66666%}
.ci-col.s9{width:74.99999%}.ci-col.s10{width:83.33333%}.ci-col.s11{width:91.66666%}.ci-col.s12{width:99.99999%}
@media (min-width:601px){.ci-col.m1{width:8.33333%}.ci-col.m2{width:16.66666%}.ci-col.s3,.ci-quarter{width:24.99999%}.ci-col.m4,.ci-third{width:33.33333%}
.ci-col.m5{width:41.66666%}.ci-col.m6,.ci-half{width:49.99999%}.ci-col.m7{width:58.33333%}.ci-col.m8,.ci-twothird{width:66.66666%}
.ci-col.m9,.ci-threequarter{width:74.99999%}.ci-col.m10{width:83.33333%}.ci-col.m11{width:91.66666%}.ci-col.m12{width:99.99999%}}
@media (min-width:993px){.ci-col.l1{width:8.33333%}.ci-col.l2{width:16.66666%}.ci-col.l3{width:24.99999%}.ci-col.l4{width:33.33333%}
.ci-col.l5{width:41.66666%}.ci-col.l6{width:49.99999%}.ci-col.l7{width:58.33333%}.ci-col.l8{width:66.66666%}
.ci-col.l9{width:74.99999%}.ci-col.l10{width:83.33333%}.ci-col.l11{width:91.66666%}.ci-col.l12{width:99.99999%}}
.ci-content{max-width:980px;margin:auto}.ci-rest{overflow:hidden}
.ci-cell-row{display:table;width:100%}.ci-cell{display:table-cell}
.ci-cell-top{vertical-align:top}.ci-cell-middle{vertical-align:middle}.ci-cell-bottom{vertical-align:bottom}
.ci-hide{display:none!important}.ci-show-block,.ci-show{display:block!important}.ci-show-inline-block{display:inline-block!important}
@media (max-width:600px){.ci-modal-content{margin:0 10px;width:auto!important}.ci-modal{padding-top:30px}
.ci-dropdown-hover.ci-mobile .ci-dropdown-content,.ci-dropdown-click.ci-mobile .ci-dropdown-content{position:relative}	
.ci-hide-small{display:none!important}.ci-mobile{display:block;width:100%!important}.ci-bar-item.ci-mobile,.ci-dropdown-hover.ci-mobile,.ci-dropdown-click.ci-mobile{text-align:center}
.ci-dropdown-hover.ci-mobile,.ci-dropdown-hover.ci-mobile .ci-btn,.ci-dropdown-hover.ci-mobile .ci-button,.ci-dropdown-click.ci-mobile,.ci-dropdown-click.ci-mobile .ci-btn,.ci-dropdown-click.ci-mobile .ci-button{width:100%}}
@media (max-width:768px){.ci-modal-content{width:500px}.ci-modal{padding-top:50px}}
@media (min-width:993px){.ci-modal-content{width:900px}.ci-hide-large{display:none!important}.ci-sidebar.ci-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.ci-hide-medium{display:none!important}}
@media (max-width:992px){.ci-sidebar.ci-collapse{display:none}.ci-main{margin-left:0!important;margin-right:0!important}}
.ci-top,.ci-bottom{position:fixed;width:100%;z-index:1}.ci-top{top:0}.ci-bottom{bottom:0}
.ci-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.ci-display-topleft{position:absolute;left:0;top:0}.ci-display-topright{position:absolute;right:0;top:0}
.ci-display-bottomleft{position:absolute;left:0;bottom:0}.ci-display-bottomright{position:absolute;right:0;bottom:0}
.ci-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.ci-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.ci-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.ci-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.ci-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.ci-display-container:hover .ci-display-hover{display:block}.ci-display-container:hover span.ci-display-hover{display:inline-block}.ci-display-hover{display:none}
.ci-display-position{position:absolute}
.ci-circle{border-radius:50%}
.ci-round-small{border-radius:2px}.ci-round,.ci-round-medium{border-radius:4px}.ci-round-large{border-radius:8px}.ci-round-xlarge{border-radius:16px}.ci-round-xxlarge{border-radius:32px}
.ci-row-padding,.ci-row-padding>.ci-half,.ci-row-padding>.ci-third,.ci-row-padding>.ci-twothird,.ci-row-padding>.ci-threequarter,.ci-row-padding>.ci-quarter,.ci-row-padding>.ci-col{padding:0 8px}
.ci-container,.ci-panel{padding:0.01em 16px}.ci-panel{margin-top:16px;margin-bottom:16px}
.ci-code,.ci-codespan{font-family:Consolas,"courier new";font-size:16px}
.ci-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.ci-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.ci-card,.ci-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.ci-card-4,.ci-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.ci-spin{animation:ci-spin 2s infinite linear}@keyframes ci-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.ci-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.ci-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.ci-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.ci-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.ci-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.ci-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.ci-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.ci-animate-input{transition:width 0.4s ease-in-out}.ci-animate-input:focus{width:100%!important}
.ci-opacity,.ci-hover-opacity:hover{opacity:0.60}.ci-opacity-off,.ci-hover-opacity-off:hover{opacity:1}
.ci-opacity-max{opacity:0.25}.ci-opacity-min{opacity:0.75}
.ci-greyscale-max,.ci-grayscale-max,.ci-hover-greyscale:hover,.ci-hover-grayscale:hover{filter:grayscale(100%)}
.ci-greyscale,.ci-grayscale{filter:grayscale(75%)}.ci-greyscale-min,.ci-grayscale-min{filter:grayscale(50%)}
.ci-sepia{filter:sepia(75%)}.ci-sepia-max,.ci-hover-sepia:hover{filter:sepia(100%)}.ci-sepia-min{filter:sepia(50%)}
.ci-tiny{font-size:10px!important}.ci-small{font-size:12px!important}.ci-medium{font-size:15px!important}.ci-large{font-size:18px!important}
.ci-xlarge{font-size:24px!important}.ci-xxlarge{font-size:36px!important}.ci-xxxlarge{font-size:48px!important}.ci-jumbo{font-size:64px!important}
.ci-left-align{text-align:left!important}.ci-right-align{text-align:right!important}.ci-justify{text-align:justify!important}.ci-center{text-align:center!important}
.ci-border-0{border:0!important}.ci-border{border:1px solid #ccc!important}
.ci-border-top{border-top:1px solid #ccc!important}.ci-border-bottom{border-bottom:1px solid #ccc!important}
.ci-border-left{border-left:1px solid #ccc!important}.ci-border-right{border-right:1px solid #ccc!important}
.ci-topbar{border-top:6px solid #ccc!important}.ci-bottombar{border-bottom:6px solid #ccc!important}
.ci-leftbar{border-left:6px solid #ccc!important}.ci-rightbar{border-right:6px solid #ccc!important}
.ci-section,.ci-code{margin-top:16px!important;margin-bottom:16px!important}
.ci-margin{margin:16px!important}.ci-margin-top{margin-top:16px!important}.ci-margin-bottom{margin-bottom:16px!important}
.ci-margin-left{margin-left:16px!important}.ci-margin-right{margin-right:16px!important}
.ci-padding-small{padding:4px 8px!important}.ci-padding{padding:8px 16px!important}.ci-padding-large{padding:12px 24px!important}
.ci-padding-16{padding-top:16px!important;padding-bottom:16px!important}.ci-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.ci-padding-32{padding-top:32px!important;padding-bottom:32px!important}.ci-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.ci-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.ci-left{float:left!important}.ci-right{float:right!important}
.ci-button:hover{color:#000!important;background-color:#ccc!important}
.ci-transparent,.ci-hover-none:hover{background-color:transparent!important}
.ci-hover-none:hover{box-shadow:none!important}
/* Colors */
.ci-amber,.ci-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.ci-aqua,.ci-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.ci-blue,.ci-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.ci-light-blue,.ci-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.ci-brown,.ci-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.ci-cyan,.ci-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.ci-blue-grey,.ci-hover-blue-grey:hover,.ci-blue-gray,.ci-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.ci-green,.ci-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.ci-light-green,.ci-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.ci-indigo,.ci-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.ci-khaki,.ci-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.ci-lime,.ci-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.ci-orange,.ci-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.ci-deep-orange,.ci-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.ci-pink,.ci-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.ci-purple,.ci-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.ci-deep-purple,.ci-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.ci-red,.ci-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.ci-sand,.ci-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.ci-teal,.ci-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.ci-yellow,.ci-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.ci-white,.ci-hover-white:hover{color:#000!important;background-color:#fff!important}
.ci-black,.ci-hover-black:hover{color:#fff!important;background-color:#000!important}
.ci-grey,.ci-hover-grey:hover,.ci-gray,.ci-hover-gray:hover{color:#000!important;background-color:#bbb!important}
.ci-light-grey,.ci-hover-light-grey:hover,.ci-light-gray,.ci-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.ci-dark-grey,.ci-hover-dark-grey:hover,.ci-dark-gray,.ci-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.ci-pale-red,.ci-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.ci-pale-green,.ci-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.ci-pale-yellow,.ci-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.ci-pale-blue,.ci-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.ci-text-red,.ci-hover-text-red:hover{color:#f44336!important}
.ci-text-green,.ci-hover-text-green:hover{color:#4CAF50!important}
.ci-text-blue,.ci-hover-text-blue:hover{color:#2196F3!important}
.ci-text-yellow,.ci-hover-text-yellow:hover{color:#ffeb3b!important}
.ci-text-white,.ci-hover-text-white:hover{color:#fff!important}
.ci-text-black,.ci-hover-text-black:hover{color:#000!important}
.ci-text-grey,.ci-hover-text-grey:hover,.ci-text-gray,.ci-hover-text-gray:hover{color:#757575!important}
.ci-text-amber{color:#ffc107!important}
.ci-text-aqua{color:#00ffff!important}
.ci-text-light-blue{color:#87CEEB!important}
.ci-text-brown{color:#795548!important}
.ci-text-cyan{color:#00bcd4!important}
.ci-text-blue-grey,.ci-text-blue-gray{color:#607d8b!important}
.ci-text-light-green{color:#8bc34a!important}
.ci-text-indigo{color:#3f51b5!important}
.ci-text-khaki{color:#b4aa50!important}
.ci-text-lime{color:#cddc39!important}
.ci-text-orange{color:#ff9800!important}
.ci-text-deep-orange{color:#ff5722!important}
.ci-text-pink{color:#e91e63!important}
.ci-text-purple{color:#9c27b0!important}
.ci-text-deep-purple{color:#673ab7!important}
.ci-text-sand{color:#fdf5e6!important}
.ci-text-teal{color:#009688!important}
.ci-text-light-grey,.ci-hover-text-light-grey:hover,.ci-text-light-gray,.ci-hover-text-light-gray:hover{color:#f1f1f1!important}
.ci-text-dark-grey,.ci-hover-text-dark-grey:hover,.ci-text-dark-gray,.ci-hover-text-dark-gray:hover{color:#3a3a3a!important}
.ci-border-red,.ci-hover-border-red:hover{border-color:#f44336!important}
.ci-border-green,.ci-hover-border-green:hover{border-color:#4CAF50!important}
.ci-border-blue,.ci-hover-border-blue:hover{border-color:#2196F3!important}
.ci-border-yellow,.ci-hover-border-yellow:hover{border-color:#ffeb3b!important}
.ci-border-white,.ci-hover-border-white:hover{border-color:#fff!important}
.ci-border-black,.ci-hover-border-black:hover{border-color:#000!important}
.ci-border-grey,.ci-hover-border-grey:hover,.ci-border-gray,.ci-hover-border-gray:hover{border-color:#bbb!important}